<!DOCTYPE html>
<html lang="en">
<!-- {% include head.html %} -->
<head>
  <title>Michael Crown</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Michael Crown - data scientist" />
  <!-- <meta property="og:url" content="http://www.claireculley.com/" /> -->
  <meta property="og:site_name" content="Michael Crown" />
  
  <!-- JotForm -->
  <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
  <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.17382" type="text/javascript"></script>
  <script type="text/javascript"> JotForm.init(function(){ setTimeout(function() { $('input_19').hint('Name'); }, 20); setTimeout(function() { $('input_16').hint('Email Address'); }, 20); JotForm.setCustomHint( 'input_17', 'Message' ); JotForm.clearFieldOnHide="disable"; JotForm.onSubmissionError="jumpToSubmit"; });
  </script>
  <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.17382" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.17382" />
  <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.17382" />

  <!-- CSS -->
  <link rel="stylesheet" href="styles.css" type="text/css">
  <link rel="stylesheet" href="contact-styles.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

  <script src="functions.js"></script>

  <!-- Load the Paper.js library -->
  <script type="text/javascript" src="assets/paperjs/docs/assets/js/paper.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="js/metaballs.js"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PC9TGJ2');</script>
  <!-- End Google Tag Manager -->


  <!-- <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" /> -->
  <!-- {% seo %} -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC9TGJ2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <div id="canvas-div">
    <canvas id="myCanvas" resize="true"></canvas>
  </div>

  <div class="content-container"> <!-- change to 2rem padding -->
    <!-- {{ content }} -->
    <!-- {% include header.html %} -->
    <header class="header">
      <h1 class="header-title">
        <img src="images/logo.png">
        <a href="https://mxcrown.github.io">Michael Crown</a>
        <br>
        <span>data scientist</span>
      </h1>
      <nav class="header-nav">
        <a href="/#who">About</a>
        <a href="/#projects">Projects</a>
        <a href="https://github.com/mxcrown">GitHub</a>
      </nav>
    </header>

    <div id="top-content" class="content-block">
      <div id="initial-nav">
        <div>
          1 &mdash; <a id="who-a">Who I am / What I do</a>
          <br>
          2 &mdash; <a id="abilities-a">My abilities</a>
          <br>
          3 &mdash; <a id="projects-a">A collection of my work</a>
          <br>
          4 &mdash; <a id="contact-a">Contact me</a>
        </div>
      </div>
    </div>

    <!-- Who / What -->
    <div id="who" class="content-block"> <!-- content-block 2% padding -->
      <div class="content-block-inner">
        <!-- some text about me -->
        <h3>Who I am</h3>
        <p>A scientist, a mathematician, a programmer and an artist. Together, these four traits make me a problem solver and a creator &mdash; I get a thrill from crafting algorithms, and I love solving difficult problems. I graduated with degrees in physics and mathematics; two subjects that I am passionate about, and that introduced me to the power of data and statistical analysis.</p>

        <h3>What I do</h3>
        <p> I create custom algorithms to solve unique problems, and I use statistical analysis and machine learning to either mine data for useful insights, or create models that predict outcomes and/or reveal relationships between attributes of a subject. The possible applications are nearly limitless, and specifics vary with each project.</p>

        <p><strong>The bottom line</strong>: I optimize the performance of businesses and systems, make predictions &amp; generate insights, and enable new methods with custom algorithms &mdash; all using scientific and mathematical methods.</p>
      </div>
    </div>

    <hr class="block-hr" />

    <!-- My Abilities -->
    <div id="abilities" class="content-block"> <!-- content-block 2% padding -->
      <div class="content-block-inner">
        <!-- some text about me -->
        <h3>Abilities</h3>
        <br>
        <h4>Statistical Analysis &amp; Machine Learning</h4>
        <p><strong>The nutshell</strong> &mdash; I am capable of working on a wide variety of problems, with data sets that are either raw or clean, big or small. I recommend looking at some of <a id="projects-b">my projects</a> for specific examples.</p>

        <p>A few business-relevant topics that fall within my abilities:

        <ul>
          <li>Marketing and sentiment analysis</li>
          <li>Time series analysis and forecasting</li>
          <li>Fraud detection</li>
          <li>Risk minimization</li>
          <li>User preference learning</li>
          <li>User classification</li>
          <li>Predictive analytics</li>
          <li>Optimization problems</li>
        </ul>
        
        </p>

        <p><strong>The jargon</strong> &mdash; Some terms relevant to my abilities are: regression, classification, optimization, cluster analysis, time series, ANOVA, data exploration, pre-processing, feature engineering, working with data imbalance, categorical with many levels, sparse matrices.</p>

        <p>I am familiar with many machine learning algorithms, but my favorites are Artificial Neural Networks, Random Forest Classifiers and Naive Bayes.</p>
        <br>

        <h4>Programming</h4>
        <p>I can develop just about anything using <i>Python</i> and its libraries &mdash; including (but not limited to) <i>Theano</i>, <i>Scikit-Learn</i>, <i>NumPy</i>, <i>Pandas</i>, <i>Requests</i> and <i>Matplotlib</i>. I am fully capable of setting up and querying <i>SQL</i> databases, and I have a great deal of experience with web-oriented languages.</p>

        <p>A few of my coding projects can be found below, along with some of my data projects.</p>
      </div>
    </div>

    <hr class="block-hr" />

    <!-- Quick Contact -->
    <div id="q-contact" class="content-block">
      <!-- <?php include 'contact.php';?> -->
      <h3>Quick Contact</h3>
      <br>
      <p><strong>Not sure what can I do for you?<br>
       Let's start a dialogue!</strong> Submit 3 fields so I can contact you with initial thoughts, and we can go from there <i>(Next business day reponse)</i>. Regular contact <a id="contact-b">here</a>.</p>

      <form class="jotform-form" action="https://submit.jotform.us/submit/70956523704156/" method="post" name="form_70956523704156" id="70956523704156" accept-charset="utf-8">
        <input type="hidden" name="formID" value="70956523704156" />
        <div id="name-group-q" class="form-group">
          <div class="col-sm-10">
            <input id="input_7" name="q7_name" data-type="input-textbox" value="" maxlength="255" placeholder="Your Name" data-component="textbox" />
          </div>
        </div>
        <div id="url-group-q" class="form-group">
          <div>
            <input id="input_5" name="q5_website" data-type="input-textbox" class="validate[required, Url]" value="" maxlength="255" placeholder="Company URL (important)" data-component="textbox" />
          </div>
        </div>
        <div id="email-group-q" class="form-group">
          <div>
            <input type="email" id="input_4" name="q4_email" class="validate[required, Email]" value="" maxlength="255" placeholder="Email Address" data-component="email" />
          </div>
        </div>
        <div class="form-group">
          <div>
            <input id="input_2" type="submit" value="Send" data-component="button">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <!-- Will be used to display an alert to the user -->
          </div>
        </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc_q" name="simple_spc" value="70956523704156" /> 
        <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc_q").value = "70956523704156-70956523704156"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script>
    </div>

    <hr class="block-hr" />


    <!-- My Projects -->
    <div id="projects" class="content-block"> <!-- content-block 2% padding -->
      <div class="content-block-inner">
        <h3>My Projects</h3>
        <p>The links below lead to pages with the contents of semi-formal reports for some of my projects. In the case of the coding projects, each page contains a summary of the program with an outline of some features and a link to the code on GitHub.</p>

        <h4>Data Projects</h4>
        <a href="/walmart-sales-forecasting">ARIMA Models for Walmart Sales Forecasting</a>
        <p>An automated method of producing sales forecasts for approximately three thousand individual departments, using 75 ARIMA models.</p>

        <a href="/ccfraud">Credit Card Fraud Detection &amp; Cost Minimization</a>
        <p>Detecting fraudulent transactions and using Bayesian minimum risk with calibrated probabilities for decision making.</p>

        <a href="/bcancer-diagnostics">Naive Bayes for Breast Cancer Diagnostics</a>
        <p>Testing a Gaussian Naive Bayes Classifier by diagnosing cell masses as benign or malignant, and evaluating feature importances.</p>

        <a href="/marketing-analysis">Marketing Campaign Analysis</a>
        <p>Inferring the effects of marketing channel spending and gender targeting on unit sales, using multiple regression analysis.</p>

        <h4>Coding Projects</h4>
        <a href="/convnet">GPU Accelerated Convolutional Neural Networks</a>
        <p>A full-featured program to construct, train, and evaluate convolutional or fully-connected neural networks.</p>

        <a href="/nbayes">Naive Bayes Classifier</a>
        <p>A program for classification using quantitative and qualitative data using Naive Bayes.</p>

        <a href="/multiregress">Multiple Regression Algorithm</a>
        <p>Performs OLS multiple regression, ANOVA, F-tests, and t-tests.</p>
      </div>
    </div>

    <hr class="block-hr" />

    <!-- Contact -->
    <div id="contact" class="content-block">
      <!-- <?php include 'contact.php';?> -->
      <h3>Contact</h3>
      <br>

      <form class="jotform-form contact-form" action="https://submit.jotform.us/submit/70368499726169/" method="post" name="form_70368499726169" id="70368499726169" accept-charset="utf-8">
        <input type="hidden" name="formID" value="70368499726169" />
        <div id="name-group" class="form-group">
          <div class="col-sm-10">
            <input id="input_19" name="q19_input19" data-type="input-textbox" placeholder="Name" value="" data-component="textbox" />
          </div>
        </div>
        <div id="email-group" class="form-group">
          <div>
            <input type="email" id="input_16" name="q16_input16" placeholder="Email Address" value="" data-component="email" />
          </div>
        </div>
        <div class="form-group">
          <div>
            <textarea id="input_17" rows="4" name="q17_input17" placeholder="Message" data-component="textarea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div>
            <input id="input_14" type="submit" value="Send" data-component="button">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <!-- Will be used to display an alert to the user -->
          </div>
        </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70368499726169" />
        <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70368499726169-70368499726169"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script>
    </div>
    <!-- {% include footer.html %} -->
    <div class="footer">
      <hr />
      <div class="footer-link">
        <a href="https://github.com/mxcrown"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      &copy; 2016 Michael Crown. All rights reserved.
    </div>
  </div>
</body>
</html>

