<!DOCTYPE html>
<html lang="en">
<!-- {% include head.html %} -->
<head>
  <title>Michael Crown: Guassian Naive Bayes Classifier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Michael Crown - Guassian Naive Bayes Classifier" />
  <!-- <meta property="og:url" content="" /> -->
  <meta property="og:site_name" content="Michael Crown" />

  <!-- JotForm -->
  <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
  <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.17382" type="text/javascript"></script>
  <script type="text/javascript"> JotForm.init(function(){ setTimeout(function() { $('input_19').hint('Name'); }, 20); setTimeout(function() { $('input_16').hint('Email Address'); }, 20); JotForm.setCustomHint( 'input_17', 'Message' ); JotForm.clearFieldOnHide="disable"; JotForm.onSubmissionError="jumpToSubmit"; });
  </script>
  <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.17382" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.17382" />
  <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.17382" />
  
  <!-- MathJax -->
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'>
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles.css" type="text/css">
  <link rel="stylesheet" href="../contact-styles.css" type="text/css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <script src="../functions.js"></script>


  <!-- <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" /> -->
  <!-- {% seo %} -->


  <!-- {% include google-analytics.html %} -->

</head>
<body>
  <div class="content-container"> <!-- change to 2rem padding -->
    <!-- {{ content }} -->
    <!-- {% include header.html %} -->
    <header class="header">
      <h1 class="header-title">
        <img src="../images/logo.png">
        <a href="https://mxcrown.github.io">Michael Crown</a>
        <br>
        <span>data scientist</span>
      </h1>
      <nav class="header-nav">
        <a href="/#who">About</a>
        <a href="/#projects">Projects</a>
        <a href="https://github.com/mxcrown">Github</a>
      </nav>
    </header>

    <!-- Executive Summary -->
    <div id="exec" class="content-block"> <!-- content-block 2% padding -->
      <div class="content-block-inner">
        <h1>Gaussian Naive Bayes Classifier</h1>
        <h2 class='sub'>With Continuous and Discrete or Categorical Functionality</h2>
        <br>

        A lean and efficient program for fitting Naive Bayes classifiers to either qualitative or quantitative data. In the latter case, a Gaussian distribution is used to compute probability densities. Some minor refactoring is planned, including addition of other distributions. The functionality for qualitative data has not yet been extensively tested.

        <h3>Features</h3>

        <ul>
          <li>Works with qualitative or quantitative data</li>
          <li>Uses matrix operations wherever possible for efficient operation</li>
          <li>Return predictions as either predicted classes (predict) or posterior probability densities (p_predict).</li>
          <li>Uses log probabilities for quantitative data.</li>
          <li>A scoring function that returns
            <ul>
              <li>Accuracy</li>
              <li>Precision</li>
              <li>Recall</li>
              <li>F1</li>
              <li>Easily modified to compute other metrics like specificity or fall-out.</li>
            </ul>
          </li>
        </ul>

        <p>Get the code <a href="https://github.com/mxcrown/naivebayes/blob/master/naivebayes.py?ts=4">here</a></p>
      </div>
    </div>

    <hr class="block-hr" />


    <!-- Contact -->
    <div id="contact" class="content-block">
      <!-- <?php include 'contact.php';?> -->
      <h2>Contact</h2>
      <br>
      <form class="jotform-form contact-form" action="https://submit.jotform.us/submit/70368499726169/" method="post" name="form_70368499726169" id="70368499726169" accept-charset="utf-8">
        <input type="hidden" name="formID" value="70368499726169" />
        <div id="name-group" class="form-group">
          <div class="col-sm-10">
            <input id="input_19" name="q19_input19" data-type="input-textbox" placeholder="Name" value="" data-component="textbox" />
          </div>
        </div>
        <div id="email-group" class="form-group">
          <div>
            <input type="email" id="input_16" name="q16_input16" placeholder="Email Address" value="" data-component="email" />
          </div>
        </div>
        <div class="form-group">
          <div>
            <textarea id="input_17" rows="4" name="q17_input17" placeholder="Message" data-component="textarea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="human">2 &times; 4 = ?</label>
          <div>
            <input type="text" id="human" placeholder="Your Answer">
          </div>
        </div>
        <div class="form-group">
          <div>
            <input id="input_14" type="submit" value="Send" data-component="button">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <!-- Will be used to display an alert to the user -->
          </div>
        </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70368499726169" />
        <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70368499726169-70368499726169"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script>
    </div>


    <!-- {% include footer.html %} -->
    <div class="footer">
      <hr />
      <div class="footer-link">
        <a href="https://github.com/mxcrown"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      &copy; 2016 Michael Crown. All rights reserved.
    </div>
  </div>
</body>
</html>

